checker.bash
bin_ls.bash
bin_ls_3_times.bash
bin_ls_3_times.bash:Zone.Identifier
bin_ls_spaces.bash:Zone.Identifier 
bin_ls_spaces.bash
*.out
bin_ls.bash:Zone.Identifier
checker.bash:Zone.Identifier
empty_input_small.bash
empty_input_small.bash:Zone.Identifier
ls_in_current_dir.bash
ls_in_current_dir.bash:Zone.Identifier
